In [7]:
import pandas as pd
df=pd.read_csv('spike1.csv',skiprows=7)

In [8]:
df

,Well,Treatment,Conc(M),TOI(min),Channel in well,Channel,Selected,Time_of_day,Within_session_time,Within_session_time(ms),...,Unnamed: 78,Unnamed: 79,Unnamed: 80,Unnamed: 81,Unnamed: 82,Unnamed: 83,Unnamed: 84,Unnamed: 85,Unnamed: 86,Unnamed: 87
0,A1,none,NaN,0,1,1,0,21:47.9,0d:00:00:00,0.05,...,40.1891,39.8847,38.8237,36.1786,31.2285,26.1421,25.9392,25.3345,23.9898,23.5642
1,A1,none,NaN,0,1,1,0,21:47.9,0d:00:00:00.005,5.75,...,-7.6632,-9.0945,-6.7778,-5.6072,-4.6832,-6.0129,-5.6155,-4.3458,-3.3476,-2.7120
2,A1,none,NaN,0,1,1,0,21:48.0,0d:00:00:00.106,106.95,...,0.9717,0.5588,-1.0530,-1.5895,-0.8798,-0.9927,-0.2480,0.9972,0.6127,1.1392
3,A1,none,NaN,0,1,1,0,21:48.2,0d:00:00:00.294,294.65,...,2.9740,2.9690,2.1833,4.3876,3.0043,1.7837,-1.5963,-1.2148,0.3876,1.4005
4,A1,none,NaN,0,2,2,0,21:47.9,0d:00:00:00,0.30,...,-1.4717,-1.1199,-1.7755,-3.2147,-2.5538,-4.2361,-4.9386,-0.3990,0.8005,0.1336
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
251317,H3,test,3.0,5,2,306,0,26:47.4,0d:00:04:59.512,299512.80,...,4.5066,3.4505,2.3604,-1.1463,-2.8459,2.3864,2.7786,-0.5463,-0.2203,1.2286
251318,H3,test,3.0,5,2,306,0,26:47.5,0d:00:04:59.593,299593.55,...,-0.3348,0.9959,0.4338,-0.6684,-0.5154,-0.9886,-1.5103,-1.5195,-1.4585,-3.9632
251319,H3,test,3.0,5,4,308,0,26:47.5,0d:00:04:59.548,299548.20,...,0.4431,-1.5507,-0.7160,1.7180,2.8103,2.2901,1.0893,1.7565,2.6572,1.8960
251320,H3,test,3.0,5,4,308,0,26:47.7,0d:00:04:59.739,299739.15,...,-2.2303,-2.1985,-2.7740,-0.8177,-1.6088,-3.2815,-1.2852,0.7507,1.9664,2.7096
251321,H3,test,3.0,5,5,313,0,26:47.4,0d:00:04:59.51,299510.70,...,-1.4998,-2.6819,-2.2532,-3.6044,-4.0700,-5.7885,-4.4952,-2.6155,0.9383,0.2116

In [11]:
df_well=df[df.Well=='A1']

In [12]:
df_well

,Well,Treatment,Conc(M),TOI(min),Channel in well,Channel,Selected,Time_of_day,Within_session_time,Within_session_time(ms),...,Unnamed: 78,Unnamed: 79,Unnamed: 80,Unnamed: 81,Unnamed: 82,Unnamed: 83,Unnamed: 84,Unnamed: 85,Unnamed: 86,Unnamed: 87
0,A1,none,NaN,0,1,1,0,21:47.9,0d:00:00:00,0.05,...,40.1891,39.8847,38.8237,36.1786,31.2285,26.1421,25.9392,25.3345,23.9898,23.5642
1,A1,none,NaN,0,1,1,0,21:47.9,0d:00:00:00.005,5.75,...,-7.6632,-9.0945,-6.7778,-5.6072,-4.6832,-6.0129,-5.6155,-4.3458,-3.3476,-2.7120
2,A1,none,NaN,0,1,1,0,21:48.0,0d:00:00:00.106,106.95,...,0.9717,0.5588,-1.0530,-1.5895,-0.8798,-0.9927,-0.2480,0.9972,0.6127,1.1392
3,A1,none,NaN,0,1,1,0,21:48.2,0d:00:00:00.294,294.65,...,2.9740,2.9690,2.1833,4.3876,3.0043,1.7837,-1.5963,-1.2148,0.3876,1.4005
4,A1,none,NaN,0,2,2,0,21:47.9,0d:00:00:00,0.30,...,-1.4717,-1.1199,-1.7755,-3.2147,-2.5538,-4.2361,-4.9386,-0.3990,0.8005,0.1336
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
251223,A1,none,NaN,0,2,2,0,26:47.5,0d:00:04:59.603,299603.40,...,-0.2458,-1.1210,0.0619,-1.0313,-1.4480,1.3980,1.7637,3.2721,2.0409,0.0662
251224,A1,none,NaN,0,3,3,0,26:47.9,0d:00:04:59.922,299922.40,...,1.1450,1.4740,-0.1768,0.0981,-0.3968,-1.0120,0.2417,-1.3608,-2.4387,-0.6761
251225,A1,none,NaN,0,3,3,0,26:47.9,0d:00:04:59.995,299995.05,...,0.9282,-1.1775,-1.1619,-1.2145,-1.3018,-0.2839,0.0518,1.8479,2.3582,1.2802
251226,A1,none,NaN,0,4,4,1,26:47.7,0d:00:04:59.792,299792.45,...,0.2656,0.1262,1.9700,1.5010,1.2763,1.6395,-0.5930,-2.5879,-1.8020,-0.7687
251229,A1,none,NaN,0,6,10,1,26:47.8,0d:00:04:59.86,299860.70,...,2.9129,3.5011,2.5724,0.3408,0.9936,1.9077,-0.5940,0.6085,-0.1260,-1.5635

In [20]:
df_well=df_well.sort_values(by=['Within_session_time'])
df_well.to_csv("a1.csv")

In [31]:
y=df_well['Channel in well'].tolist()

In [32]:
output = []
for x in y:
    if x not in output:
        output.append(x)
print(output)

[1, 2, 3, 4, 7, 8, 5, 6]